<!-- AndroidManifest.xml (snippet) -->
<application
    android:label="@string/app_name"
    android:theme="@style/Theme.SewaMobil.Sky">

    <activity
        android:name=".SplashActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".MainActivity" android:exported="false" />
    <activity android:name=".DetailMobilActivity" android:exported="false" />
</application>
